.info-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
}

.info-menu {
    display: flex;
    align-items: center;
}

.menu ul {
    list-style: none;
    display: flex;
    padding: 0 10px;
}

.menu ul li {
    margin-right: 20px;
}

.menu ul li a {
    text-decoration: none;
    color: #a7a7a7;
    transition: color 1s;
    font-size: 20px;
}

.menu ul li a:hover {
    color: #e500ce;
}

.mobile-menu-icon {
    display: none;
    cursor: pointer;
    color: #a7a7a7;
    font-size: 20px;
}

.icons-menu {
    display: flex;
    justify-content: center;
    gap: 10px;
}

@media screen and (max-width:1200px) {
    .menu {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-open {
        position: absolute;
        display: block;
        top: 90px;
        right: 20px;
        background-color: #333;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
        z-index: 2;
    }

    .mobile-menu-open ul {
        flex-direction: column;
    }

    .mobile-menu-open ul li {
        margin-bottom: 10px;
    }

    .mobile-menu-open a {
        color: #fff;
    }
}